@import url('https://fonts.googleapis.com/css?family=Monoton|Rock+Salt|Special+Elite&display=swap');

/* font-family: 'Special Elite', cursive;
font-family: 'Monoton', cursive;
font-family: 'Rock Salt', cursive; */

.home{
    font-family: 'Monoton', cursive;
    text-align: center;
    padding-top:25vh;
}

.logo{
    font-size: 40vh;
    color: black;
    opacity: 0.5;

}

.logo:hover{
    color: black;
    opacity: 0.7
}


.logo {
    animation: rotation 8s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  .title{
      margin-top: 15vh;
  }