@import url('https://fonts.googleapis.com/css?family=Monoton|Rock+Salt|Special+Elite&display=swap');

/* font-family: 'Special Elite', cursive;
font-family: 'Monoton', cursive;
font-family: 'Rock Salt', cursive; */
.homeLink{
    color: black;
    font-family: 'Special Elite', cursive;
    margin-left: 0;
    font-size: larger;
    height: 2vh;
}

.spiral{
    font-size: 7vh;
    padding-bottom: 3vh;
}